<h1>周报</h1>

<% @summaries.each do |summary| %>
  <div class="row well">
    <p>完成时间：<%= summary.completed_at %></p>
    <p>计划内容<%= summary.body %></p>
    <p>下一步解决方案 <%= summary.next %></p>
    <p>完成率％：<%= summary.rate %></p>
    <p><%= link_to 'Show', summary %> | <%= link_to 'Edit', edit_summary_path(summary) %> | <%= link_to 'Destroy', summary, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
<% end %>

<%= link_to 'New Summary', new_summary_path %>
