<h1>Listing summaries</h1>

<table>
  <thead>
    <tr>
      <th>Completed at</th>
      <th>Body</th>
      <th>Next</th>
      <th>Rate</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @summaries.each do |summary| %>
      <tr>
        <td><%= summary.completed_at %></td>
        <td><%= summary.body %></td>
        <td><%= summary.next %></td>
        <td><%= summary.rate %></td>
        <td><%= summary.user %></td>
        <td><%= link_to 'Show', summary %></td>
        <td><%= link_to 'Edit', edit_summary_path(summary) %></td>
        <td><%= link_to 'Destroy', summary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Summary', new_summary_path %>
