<h1>本周计划部分</h1>

<table class="table table-bordered table-hover table-striped">
  <thead class="header">
    <tr>
      <th>#</th>
      <th>计划内容</th>
      <th>计划时间</th>
      <th>执行人</th>
      <th>协助部门/资源</th>
      <th>完成标准</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td><%= plan.body %></td>
        <td><%= plan.plan_at %></td>
        <td><%= plan.actions %></td>
        <td><%= plan.assist_resource %></td>
        <td><%= plan.company_resource %></td>
        <td><%= plan.complete %></td>
        <td><%= link_to 'Show', plan %> <%= link_to 'Edit', edit_plan_path(plan) %> <%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Plan', new_plan_path %>
