<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <li class="<%= 'active' if params[:controller] == 'summaries' %>"> <a href="/summaries">Summaries</a> </li>
  <li class="<%= 'active' if params[:controller] == 'plans' %>"> <a href="/plans">Plans</a> </li>
</ul>
<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", "/register", :class => 'navbar-link'  %> |
  <%= link_to "Login", "/login", :class => 'navbar-link'  %>
<% end %>