<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Work Reports" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Week reports" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <main role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div>
    </main>
    
    <footer class="footer">
      <div class="container">
        <p>Copyright 2011-2013 <a href="https://www.iboxpay.com">iboxpay.com</a></p>
        <ul class="footer-links">
          <li>Developed by <a href="http://blog.lytsing.org">Lytsing Huang</a></li>
          <li class="muted">·</li>
          <li><a href="https://github.com/lytsing/">Lytsing @ GitHub</a></li>
        </ul>
      </div>
    </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>